* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: #0f172a; 
    color: #f8fafc; 
    overflow: hidden; 
}

.sidebar {
    width: 295px; 
    min-width: 295px; 
    background-color: #1e293b; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar a {
    font-size: 1.2rem;
    padding: 10px;
    border: 3px solid #334155; 
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: none;
    color: #f8fafc;
    text-decoration: none;
    background-color: #1e293b;
}

.sidebar a:hover {
    background-color: #334155; 
}

.main {
    flex-grow: 1;
    background-color: #0f172a; 
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto; 
}

.top-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-bar h2 {
    font-size: 1.5rem;
    color: #f8fafc;
    white-space: nowrap;
}

.search-bar {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.search-bar input {
    width: 500px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid #ff5a5f; 
    background-color: #1e293b; 
    color: #ffffff;
    font-size: 15px;
    outline: none;
    margin-left: 125px;
}

.search-bar input::placeholder {
    color: #94a3b8; 
}

.book-grid {
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.book-card, .add-card {
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 8px;
    height: 250px; 
}

.book-card .img-placeholder img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.book-card {
    background-color: #ffffff; 
    border: 2px solid #e2e8f0; 
    position: relative;
}

.add-card {
    background-color: #fff1f2; 
    border: 2px dashed #ff5a5f; 
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 8rem; 
    color: #ff5a5f;
}

.add-card:hover {
    background-color: #ffe4e6;
}

.book-card .img-placeholder {
    width: 100px; 
    height: 120px;
    border: 2px solid #f1f5f9; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.book-card p {
    font-size: 14px;
    color: #0f172a; 
    text-align: center;
    line-height: 1.4;
}

.buttons{
    display: flex;
    position: absolute;
    top: 8px;
    right: 10px;
    gap: 8px;
}

#edit{
    cursor: pointer;
    background-color: #275297;
    color: white;
    padding: 1px 2px;
    border-radius: 3px;
    border: none;
}

#del{
    cursor: pointer;
    background-color: #ca2727;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
    border: none;
}