body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f172a; 
}

form {
    background-color: #f8fafc;
    width: 25vw;
    height: 50vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10%;
    gap: 1vh;
}

form header {
    font-size: 3rem;
    color: #1e293b;
}

#input-group {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    color: #475569;
}

#input-group input {
    font-size: 1rem;
    width: 100%; 
    border: 1px solid #cbd5e1;
    background-color: #ffffff;
    color: #0f172a;
    padding: 8px; 
    box-sizing: border-box;
}

#signup-button button {
    font-size: large;
    padding: 5%;
    border-radius: 5%;
    margin-top: -18px;
    background-color: #ff5a5f;
    color: #ffffff;
    border: none;
    cursor: pointer;
}