body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(74, 5, 18);
    
}

form{
    background-color: rgb(106, 64, 12);
    width: 25vw;
    height: 50vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10%;
}

form header{
    font-size: 3rem;
}

#input-group{
    font-size: 1.5rem;
}

#login-signup{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-signup button{
   font-size: large;
   padding: 2%;
   border-radius: 10%;
}
