
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(74, 5, 18);
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#sidebar {
    width: 20%;
    background-color: rgb(106, 64, 12);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

#sidebar .nav-item:hover{
        background-color: #9a6a00;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-item {
    font-size: 1.2rem;
    padding: 10px;
    border: 3px solid rgb(190, 146, 51);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: none;
    color: wheat;
    text-decoration: none;
}

#content {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#account-card {
    background-color: rgb(106, 64, 12);
    padding: 30px;
    border-radius: 5%;
    width: 60%;
    display: flex;
    gap: 20px;
    border: 2px solid  rgb(194, 95, 65);
    position: relative;
}

#profile-pic {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
}

#actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid  rgb(190, 146, 51);
    background: none;
    color: wheat;
    cursor: pointer;
}

#edit-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}
