*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#nav{
    width: 100vw;
    height: 10vh;
    background-color: rgb(74, 5, 18);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    margin-left: 1vw;
    border-radius: 50%;
}

#auth-but-group{
    margin-right: 1vw;
}

#auth-but-group button{
    padding: 1vh;
    border-radius: 10%;
}

#header{
    width: 100vw;
    height: 90vh;
    background-color: rgb(106, 64, 12);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header h1{
   font-size: 10rem;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#header h3{
   font-size: 2rem;
   font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-bottom: 10px;
}

#cta{
   font-size: 2rem;
   font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-bottom: 10px;
   padding: 10%;
   border-radius: 5%;
}


